body {
  background: #212a31;
  color: #748d92;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 48px;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  text-shadow: 1px 2px 2px #000000;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 0;
  color: #000;
}

h3, p {
  font-weight: 100;
  text-align: center;
}

nav {
  background-color: #124e66;
  color: #748d92;
  text-align: center;
  padding: 5px;
  width: 40%;
  border: 2px solid #000000;
  border-radius: 10px;
  margin: 30px auto;
}

nav ul, #connect ul {
  padding: 0;
  list-style: none;
}

nav ul li, #connect ul li {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-right: 1px solid black;
}

nav ul li, #connect ul li:last-child {
  border-right: none;
}

nav a, #connect a {
  text-decoration: none;
  color: black;
}

nav a, #connect a:hover {
  color: #748d92;
}

header {
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 40px; 
  padding: 20px; 
  width: 100%;
  box-sizing: border-box;
}

header img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 3px solid #000000;
  object-fit: cover;
}

section {
  background-color: #2e3944;
  margin: 40px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px black;
}


.experience-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-company {
  font-size: 16px; 
  margin: 5px;
}

.experience-job-title {
  font-size: 16px;
  margin: 5px;
}

#connect {
  color: #748d92;
  text-align: center;
  border: 1px solid #000000;
}

nav ul li:hover {
  opacity: 0.7;
  transform: scale(1.2);
  transition: transform 0.2s, opacity 0.2s;
}

a img {
  fill: #748d42;
}

a img:hover {
  opacity: 0.7;
  transform: scale(1.2);
  transition: transform 0.2s, opacity 0.2s;
}